* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    padding: 40px 80px;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .container {

        max-width: 1200px;

    }
}

.head__inner {
    display: flex;
    align-items: center;
    height: 638px;
}

.head__title {
    flex-basis: 50%;
    align-items: center;
    max-height: 320px;
    font-family: 'Poppins', sans-serif;
    font-size: 3.3em;
    line-height: 62px;
    font-weight: 600;
    padding-right: 100px;
}

.head__title p {
    padding-bottom: 5px;
}

.head__title-emphasis {
    background: #FF5F6D;
    background: linear-gradient(to right, #FF5F6D 0%, #FFC371 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

.head__title-emphasis:hover {
    font-size: 1.1em;
    text-shadow: .1em .1em .8em #092E5A;
}

.head__text {
    padding-top: 40px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}



.head__content {
    flex-basis: 50%;
}

.head__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 480px;
    max-width: 382px;
}

.head__card {
    position: relative;
    width: 180px;
    height: 200px;
    border-radius: 24px;
    background: aqua;
    transition: 0.3s;

}

.head__card:hover {
    box-shadow: 0.2em 0.2em 1.5em #092E5A;
}

.card__image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

.head__card:first-child {
    background-image: linear-gradient(145deg, #092E5A, #E87A90);
}

.head__card:nth-child(2) {
    background-image: linear-gradient(145deg, #FA8607, #FECC51);
}

.head__card:nth-child(3) {
    background-image: linear-gradient(145deg, #22C1C3, #FDBB2D);
}

.head__card:last-child {
    background-image: linear-gradient(145deg, #6190E8, #A7BFE8);
}

.card__text {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 18px;
    position: absolute;
    bottom: 15%;
    text-align: justify;
    padding: 0px 15px;
    color: #fff;
}

